.App {
  text-align: center;
}

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  background-color: #333;
  color: #fff;
}
h2 {
  color: #fff;
}
.bold {
  font-weight: bold;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #333;
}

.nav-link,
.navbar-brand,
#svgID {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

@media only screen and (max-width: 991px) {
  .nav-link {
    opacity: 0;
    transform: translateX(-100%);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  .nav-link {
    animation: 0.5s ease 0.4s 1 normal forwards running navLinkFade;
  }
}
.logout {
  cursor: pointer;
}

/*later if i need a dropdown in navbar .dropdown-menu {
  background-color: #343a40;
}*/

.notification-container {
  top: 55px;
}

.editIcon {
  float: right;
}
.editIcon:hover {
  cursor: pointer;
}
.save-button {
  margin-right: 1em;
  width: 83px;
}
.label {
  font-weight: bold;
  margin-bottom: 0px;
}
.mapCol {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
.imgContainer {
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 2%;
  border: 1px solid #333;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
.imgContainer:hover > .thumbnail > .mapPic {
  transform: scale(1.1);
}
.imgContainer:hover {
  border-color: #fff;
}
.thumbnail {
  padding: unset;
  margin-bottom: 0;
  border: none;
  background: transparent;
}
a.thumbnail:hover {
  border-color: #333;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.noLinkLook {
  color: #fff;
}
.noLinkLook:hover {
  color: #fff;
  text-decoration: none;
}
.mapPic {
  max-width: 100%;
  transition-duration: 0.15s;
}
.middle {
  margin: 0 auto;
}
.invisible {
  display: none;
}
@media only screen and (max-width: 1199px) {
  #contentContainer {
    overflow: auto;
    max-width: 100%;
    max-height: calc(100vh - 172px);
  }
}
#imgBox {
  display: block;
  margin: 0 auto;
}
.svgClass {
  position: absolute;
  top: 0;
  left: 58px;
  height: 100%;
}
@media only screen and (max-width: 1199px) {
  .svgClass {
    left: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  #filterRow,
  .listContainer,
  .viewOptionsRow {
    margin-left: 43px;
    margin-right: 43px;
  }
  #filterCol,
  .viewOptionsCol {
    padding-left: 0;
    padding-right: 0;
  }
}
.svgClass g {
  stroke: #fff;
  fill: #fff;
  stroke-width: 1.7;
  opacity: 0.4;
}
.loadedNades:hover {
  opacity: 1;
  cursor: pointer;
}
.userNadeNormal {
  opacity: 1 !important;
}
g image {
  transform: translate(-0.275em, -0.275em);
}
.filterLabel {
  color: rgba(255, 255, 255, 0.5);
}
.filterBar {
  background-color: #222;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.filterBar > .filterLabel:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.filterBar > input:checked + label:hover {
  color: #fff;
  cursor: pointer;
}

.filterBar > input:checked + label + label:hover {
  color: #fff;
  cursor: pointer;
}

.filterBar > input:checked + label {
  color: #fff;
  background-color: #000;
}
.filterBar > input:checked + label + label {
  color: #fff;
  background-color: #000;
}

.filterBar > input:last-of-type:checked + label {
  border-bottom-right-radius: 0;
}
.filterBar > input:first-of-type:checked + label {
  border-top-left-radius: 4px;
}
.filterBar > label:first-of-type {
  transition: border-top-left-radius 0s;
}
.filterBar > label:last-of-type {
  transition: border-bottom-right-radius 0s;
}

/*Removes bootstraps css that adds to the left*/
.btn-group > .btn-group:not(:first-child),
.btn-group > .btn:not(:first-child) {
  margin-left: 0;
}

/*Add rounded top left corner to 1st child*/
.filterBar label:first-of-type:hover {
  border-top-left-radius: 4px;
}
.filterBar label:last-of-type:hover {
  border-bottom-right-radius: 0;
}

.filterBar > input {
  display: none;
}
#switch {
  float: right;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 38px;
  margin-bottom: 0px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222;
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 5px;
  background-color: #9d9d9d;
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
}
input:checked + .slider {
  background-color: #222;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
#T {
  float: right;
  position: relative;
  top: 6px;
  right: 10%;
  color: #9d9d9d;
  font-weight: 400;
  font-size: 16px;
}
#CT {
  float: left;
  position: relative;
  top: 6px;
  left: 10%;
  color: #9d9d9d;
  font-weight: 400;
  font-size: 16px;
}
.h1 {
  text-shadow: 2px 2px 5px #000;
}
.map,
.list {
  float: right;
  cursor: pointer;
}
.list-group a {
  color: #fff;
}
.list-group {
  display: grid;
  grid-auto-rows: 1fr;
}
.listContainer {
  max-height: calc(100vh - 172px);
  overflow-y: auto;
}
.nadeItem {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #222;
  margin-bottom: 20px;
  border: 1px solid #222;
}
.nadeItem a {
  text-decoration: none;
}
.nadeItem:hover {
  border-color: #fff;
}

.nadeTime {
  padding-left: 20px;
}
.topLine {
  align-items: center;
}
.userSubmissionCheck {
  margin-left: 0em;
}
.userSubmissionLabel {
  margin-left: 1.25em;
}
.thumbs-up-icon-span {
  padding-right: 10px;
}
.thumbs-down-icon-span {
  float: right;
}
.numLikes,
.numDislikes {
  padding-right: 5px;
}
.thumbs-down,
.thumbs-up {
  cursor: pointer;
}
.liked,
.disliked {
  color: #007bff;
  cursor: pointer;
}
.listnadesLoadedFalseauthorsLoadedFalseimageLoadedFalse,
.listnadesLoadedTrueauthorsLoadedFalseimageLoadedFalse,
.listnadesLoadedFalseauthorsLoadedTrueimageLoadedFalse,
.listnadesLoadedFalseauthorsLoadedFalseimageLoadedTrue,
.listnadesLoadedTrueauthorsLoadedTrueimageLoadedFalse,
.listnadesLoadedFalseauthorsLoadedTrueimageLoadedTrue,
.mapnadesLoadedFalseauthorsLoadedFalseimageLoadedFalse,
.mapnadesLoadedTrueauthorsLoadedFalseimageLoadedFalse,
.mapnadesLoadedFalseauthorsLoadedTrueimageLoadedFalse,
.mapnadesLoadedFalseauthorsLoadedFalseimageLoadedTrue,
.mapnadesLoadedTrueauthorsLoadedFalseimageLoadedTrue,
.mapnadesLoadedFalseauthorsLoadedTrueimageLoadedTrue {
  visibility: hidden !important;
}
.nadeTitleRow {
  padding-top: 0.5em;
}
.forgotPassword {
  float: right;
  color: rgba(255, 255, 255, 0.5);
}
.forgotPassword:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
.orient-right {
  flex-direction: row-reverse;
}
.row2,
.row3,
.row4 {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.75);
}
.rowContent {
  padding: 5rem 5rem 3rem 5rem;
}
.rowImage {
  text-align: center;
}
.rowImage .spotlightIcon {
  font-size: 10em;
  height: 100%;
  vertical-align: middle !important;
}
.rowContentWithImage {
  padding: 5rem 5rem 3rem 5rem;
  text-align: center;
}
.createAndSupport .spotlightIcon {
  font-size: 10em;
  height: 100%;
  vertical-align: middle !important;
  padding-bottom: 20px;
}
.likes-dislikes-span {
  width: 6em;
}
@media only screen and (max-width: 767px) {
  .row2,
  .row3,
  .row4 {
    box-shadow: none;
  }
  .rowContent,
  .rowContentWithImage {
    text-align: center;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .rowContent .btn,
  .rowContentWithImage .btn {
    width: 100%;
  }
  .row2,
  .row3,
  .rowContentWithImage {
    padding-top: 3em;
  }
  .lastItem {
    padding-bottom: 1em;
  }
  .thumbs-up,
  .thumbs-down {
    font-size: 16px;
  }
}
@media only screen and (max-width: 400px) {
  .likes-dislikes-span {
    width: 8em;
  }
}
@media only screen and (max-width: 360px) {
  .bigRes {
    display: none;
  }
}
@media only screen and (min-width: 361px) {
  .smallRes {
    display: none;
  }
}
